- if @feature["description"]
  %section{:class => 'feature'}
    :markdown
      #{@feature["description"]}
%section{:class=>"scenarios"}
  %h1 Scenarios:
  - @scenario_urls.keys.sort.each do |name|
    %ul
      %li
        %a{:href => @scenario_urls[name]}
          = name
