

    <h2>Scenarios</h2>
    
    <ol>

        <% @wally['elements'].each do |scenario| %>
            <li>
                <small>
                    <% if scenario['tags'] then %>
                        <% scenario['tags'].each do |tag| %>
                            <%= tag['name'] %>
                        <% end %>
                    <% end %>
                </small>
                <a href="/features/<%= @feature %>/<%= Digest::SHA1.hexdigest(scenario['name']) %>"><%= scenario['name'] %></a>
            </li>
        <% end %>

    </ol>
    