- if @feature["description"]
  %h2 Scenarios
  %section{:class=>"scenarios"}
    %section{:class => 'feature'}
      :markdown
        #{@feature["description"]}
  %ul
    - get_sorted_scenarios(@feature).each do |scenario|
      %a{:href => get_scenario_url(scenario)}
        = scenario["name"]
      - if scenario["tags"]
        - scenario["tags"].each do |tag|
          %span.label.notice
            = tag["name"]
