%li
  %a{:href => "/projects/#{current_project.name}/features/#{feature.gherkin["id"]}"}
    = feature.gherkin["name"]
  - if feature.gherkin["tags"]
    - tags = feature.gherkin["tags"]
    = haml :tag_links, {:locals => {:tags => tags}, :layout => false}
