- if @feature["description"]
  %h2 Scenarios
  %section{:class=>"scenarios"}
    %section{:class => 'feature'}
      :markdown
        #{@feature["description"]}
  %ul
    - @scenario_urls.keys.sort.each do |name|
      %li
        %a{:href => @scenario_urls[name]}
          = name
