
- if rows.first['cells'].size == 1
  %ul.data-table
    - rows.map { |r| r['cells'].first }.each do |cell|
      %li= escape_once(cell)
- else
  %table.zebra-striped
    - rows.each_with_index do |row, index|
      %tr
        - row['cells'].each do |cell|
          - if index === 0
            %th
              = escape_once(cell)
          - else
            %td
              = escape_once(cell)
